.dialog-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.44);
}

.dialog-modal {
  width: 540px;
  padding: 30px 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  color: black;
}

.dialog-modal-header {
  display: block;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.dialog-modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.dialog-modal-close {
  position: absolute;
  top: 20px;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
  color: black;

  .visually-hidden{
    visibility: hidden;
    position: absolute;
  }
}

.dialog-modal-close:hover{
  color: #616161;
}

@media screen and (max-width: 650px) {
  .dialog-modal {
    width: 80%;
  }
}